.destaque__botoes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.destaque__botao-assistir {
  background-color: #ffffff;
  display: flex;
  border-radius: 4px;
  padding: 12px;
}

.destaque__botao-assistir:hover {
  background-color: #ffffffa2;
}

.botao-assistir__texto {
  font-size: 17px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  padding-left: 10px;
}

.destaque__botao-informacao {
  background-color: #6d6d6ec0;
  display: flex;
  flex-wrap: nowrap;
  color: #ffffff;
  border-radius: 4px;
  padding: 12px;
}

.destaque__botao-informacao:hover {
  background-color: #6d6d6e6e;
}

.botao-informacao__texto {
  font-size: 17px;
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  padding-left: 10px;
}

@media (max-width: 834px) {
  .destaque__botoes {
    display: block;
    margin: 40px 100px;
  }

  .destaque__botao-assistir {
    margin-bottom: 20px;
    justify-content: center;
  }

  .destaque__botao-informacao {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .destaque__botoes {
    display: block;
    margin: 25px 75px;
  }
}
