.cabecalho {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.39);
}

.cabecalho__logo {
  max-width: 93px;
  padding-right: 30px;
  text-align: center;
}

.cabecalho__menu {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.cabecalho__item {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 26px 0;
}

.cabecalho__item:hover {
  color: #ddd7d7;
}

@media screen and (max-width: 825px) {
  .cabecalho {
    display: grid;
    padding: 0;
    justify-items: center;
  }

  .cabecalho__item {
    font-size: 1.5rem;
    padding: 26px 0;
  }

  .cabecalho__logo {
    max-width: 220px;
    padding: 20px 0;
  }

  .cabecalho__menu {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 558px) {
  .cabecalho__item {
    font-size: 1rem;
    text-align: center;
    margin-left: 5px;
  }

  .cabecalho__item__last {
    display: none;
  }
}
