.highlight {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url(../img/highlight/movie-back.jpg) no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.highlight__container {
  grid-row: 2;
  padding-left: 60px;
}

.highlight__image {
  max-width: 90%;
}

.highlight__text {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.4;
  padding-top: 10px;
  text-shadow: #000000 2px 2px 4px;
}

.highlight__classification {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 840px) {
  .highlight {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
      url(../img/highlight/movie-back-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2.6fr 1fr;
  }

  .highlight__container {
    grid-column: 2;
    grid-row: 2;
    padding-left: 0;
    text-align: center;
  }

  .highlight__image {
    align-items: center;
    display: inline;
    max-width: 60%;
  }

  .highlight__text {
    display: none;
  }

  .highlight__classification {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .highlight {
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 1fr;
  }
  .highlight__image {
    align-self: center;
    display: inline;
    max-width: 50%;
  }
}
