footer {
  max-width: 1000px;
  margin: 0 auto;
}

.rodape {
  display: flex;
  margin-top: 40px;
  border-top: 1px solid rgba(224, 219, 219, 0.137);
}

.rodape__icones {
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  cursor: pointer;
}

.rodape__textos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  color: #808080;
  margin: 20px auto;
  font-size: 13px;
  gap: 30px;
  height: 70px;
}

.rodape__textos li {
  cursor: pointer;
  padding: 0 30px;
}

.rodape__textos li:last-child {
  padding-right: 0;
}

.rodape__textos li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .rodape__icones {
    margin: 0 auto;
    display: flex;
    gap: 20px;
  }

  .rodape__textos {
    height: 120px;
  }
}
