@import url(reset.css);
@import url(header.css);
@import url(highlight.css);
@import url(buttons.css);
@import url(movies.css);
@import url(footer.css);

body {
  background-color: #000000;
  font-family: "Martel Sans", sans-serif;
  overflow-x: hidden;
}
